body {
    margin: 0;
    background-color: #E8EBED;
    z-index: -3;
}

.navbar {
    text-align: left;
    background-color: rgb(48, 48, 48);
    padding: 20px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: rgb(203, 205, 205);
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar p {
    color: rgb(203, 205, 205);
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a:hover {
    background-color: rgb(77, 77, 77);
    color: white;
}

.image-text {
    position: absolute;
    top: 120px;
    left: 660px;
    background-color: rgba(0, 0, 0, 0.635);
    color: rgb(211, 211, 211);
    padding: 50px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    z-index: -1;
    border-radius: 5px;
}

.imageblock img {
    position: relative;
    width: 100%;
    height: 300px;
    filter: blur(0px);
    z-index: -2;
    border-bottom: 5px solid black;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    overflow-wrap: break-word;
}

.column {
    width: 25%;
    height: 200px;
    border: 5px;
    margin: 60px;
    float:left;
    transition: .001s;
    text-decoration: underline;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column img {
    position: relative;
    width: 370px;
    height: 200px;
    border-radius: 30px;
    border: rgba(255, 0, 0, 0.452) solid 1px;
    filter: drop-shadow(8px 4px 8px grey);
}

.column a img{
    transition: .3s;
    text-decoration: underline;
}

.column a:hover img{
    transform: scale(1.2);
    filter: drop-shadow(8px 4px 8px grey);
}

hr {
    border-top: grey solid 3px;
    border-radius: 30px;
    opacity: 10%;
}

.project-text {
    position: absolute;
    top: 825px;
    margin-left: 95px;
    background-color: rgba(0, 0, 0, 0.361);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.project-text1 {
    position: absolute;
    top: 825px;
    margin-left: 60px;
    background-color: rgba(0, 0, 0, 0.361);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.project-text:hover, .project-text1:hover {
    text-decoration: underline;
}

.contactcard p {
    height: 260px;
    width: 1100px;
    margin-bottom: 50px;
    margin-left: 20px;
    box-shadow: 8px 4px 8px 4px grey ;
    background-color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 50px;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 1s;
}

.contactcard p:hover {
    transform: scale(1.03);
}

.icons {
    position: fixed right;
    top: 200px;
    margin-right: 20px;
    transform: translateY(-105%);
    float: right;
}

.instagram img{
    padding: 30px;
    height:  60px;
    float: right;
    margin-right: 50px;
    transition: 1s;
}

.github img{
    padding: 30px;
    height:  60px;
    float: right;
    margin-right: 50px;
    transition: 1s;
}

.discord img{
    padding: 30px;
    height:  60px;
    float: right;
    margin-right: 50px;
    transition: 1s;
}

.discord img:hover,.instagram img:hover,.github img:hover {
    background-color: #dfdfdfa1;
    transform: scale(1.1);
    z-index: -2;
}

.aboutcard p {
    height: 175px;
    width: 900px;
    margin-bottom: 50px;
    margin-left: 20px;
    box-shadow: 8px 4px 8px 4px grey ;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 50px;
    text-align: left;
    overflow-wrap: break-word;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 1s;
    background-color:rgb(255, 250, 244);
}
.aboutcard {
    padding: 0;
    margin: 0;
}

.aboutcard p:hover {
    transform: scale(1.03);
}

.embedinsta {
    position: fixed right;
    top: 200px;
    margin-right: 50px;
    transform: translateY(-95%);
    float: right;
    transition: 2s;
    padding: 0;
    z-index: -10;
}

.photos {
    height: 200px;
}

.projectimg img {
    height: 350px;
    margin-left: 75px;
    margin-top: 50px;
    filter: drop-shadow(8px 4px 8px grey);
}

.photos img {
    height: 400px;
    margin-top: 100px;
    margin-left: 230px;
    margin-bottom: 40px;
    filter: drop-shadow(8px 4px 8px grey);
    z-index: -10;
}

.accordion {
    width: 35%;
    max-width: 500px;
    margin-bottom: 100px;
    margin-top: 150px;
    margin-right: 200px;
    float: right;
    box-shadow: 8px 8px 8px grey;
  }

  .accordion input {
    display: none;
  }

  .accordion label {
    display: block;
    width: 94.5%;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #b7c3ff;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#e4e8ff;
  }

  .accordion label:hover {
    background-color: #7182DE;
    border: #7182DE solid 1px;
  }

  .accordion .panel {
    padding: 13px;
    background-color:rgb(255, 250, 244);
    display: none;
    overflow: hidden;
    border: 1px solid #b7c3ff;
    border-top: none;
    width: 94.5%;
    border-radius: 10px;
  }

  .accordion input:checked + label + .panel {
    display: block;
  }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}